<div class="users-wrapper">
  <div class="users-container-list">
    <div class="users-header">
      <h1 class="title">{{title}}</h1>
      <h2 class="subtitle">{{subtitle}}</h2>
    </div>
    <div class="filters-wrapper">
      <app-search-input [placeholder]="inputSearch" class="input-search" (searchChange)="handleSearchChange($event)">
        <img src="assets/svg/icon/input/search.svg" alt />
      </app-search-input>
      <button class="filters"><img src="assets/svg/icon/users/filters.svg">{{ btnFilters }}</button>
      <button class="export"><img src="assets/svg/icon/users/export.svg">{{ btnExport }}</button>
      <div class="selected-count" *ngIf="currentSelectedCount > 0">
        {{ currentSelectedCount }} usuário(s) selecionado(s)
      </div>
    </div>
    <app-list-users [searchQuery]="currentSearchQuery" [currentPage]="currentPage" [itemsPerPage]="itemsPerPage"
      (filteredUsersCount)="handleFilteredUsersCount($event)" (selectedCount)="handleSelectedCount($event)"
      (selectedUsersEvent)="handleSelectedUsers($event)">>
    </app-list-users>
    <div class="pagination-controls">
      <select class="page-select" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
      </select>

      <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1">
        <img src="assets/svg/icon/users/arrow-list.svg" alt="Previous page" class="arrow-icon rotate-180">
      </button>

      <div class="page-numbers">
        <ng-container *ngFor="let page of displayedPages">
          <span *ngIf="page === '...'" class="ellipsis">...</span>
          <button *ngIf="page !== '...'" class="page-button" [class.active]="page === currentPage"
            (click)="goToPage(page)">
            {{page}}
          </button>
        </ng-container>
      </div>

      <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage === totalPages">
        <img src="assets/svg/icon/users/arrow-list.svg" alt="Next page" class="arrow-icon">
      </button>
    </div>
  </div>
  <div class="users-container-details" *ngIf="selectedUser">
    <div class="users-header">
      <div class="title">Details user</div>
      <img class ="image-user" src="assets/user-photo.png" alt>
      <div class="user-line">
        <span class="name">{{ selectedUser.name }}</span>
        <div class="situation">
          <div>
            <img [src]="getSituationIcon(selectedUser.situation)" />
            {{ translateSituation(selectedUser.situation) }}
          </div>
        </div>
      </div>
      <div class="email">{{ selectedUser.email }}</div>

    </div>
  </div>
</div>
