@import "../../../../styles/variables.scss";

.users-wrapper {
  padding: 25px;
  display: flex;
  min-height: calc(100vh - 70px); // Adicionar
  overflow-y: auto; // Ajuste para altura total
  gap: 25px;

  .users-container-list {
    flex: 1 1 auto; // Permite crescimento e redução
    min-height: min-content;
    min-width: 0; // Permite que o conteúdo encolha
    height: auto;
    display: flex;
    flex-direction: column;
    background: $rg-bg;
    border-radius: 12px;
    padding: 40px 30px 30px 30px;
    overflow: visible;
    position: relative;

    background: $rg-bg;

    flex-direction: column;
    > * {
      flex-shrink: 0; // Evita compressão excessiva
    }

    .users-header {
      width: 100%;
      position: relative;

      .title {
        font-size: 24px;
        color: $rg-title;
        font-weight: 500;
        margin-bottom: 15px;
      }

      .subtitle {
        font-size: 14px;
        color: $rg-subtitle;
        font-weight: 300;
        margin-bottom: 25px;
      }
    }

    .filters-wrapper {
      width: 100%;
      display: flex;
      gap: 15px;
      align-items: center;
      margin-bottom: 15px;

      button {
        width: min-content;
        height: 40px;
        border-radius: 8px;
        gap: 7px;
        cursor: pointer;

        font-weight: 500;
        font-size: 12px;
        color: $text-color;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 14px 0px 12px;

        img {
          width: 18px;
          height: 18px;
        }
      }

      .filters {
        background-color: transparent;

        border: 1px solid $us-border-button;
        color: $text-color;

        transition: 0.2s ease;

        &:hover {
          background-color: darken($text-color, 80%);
        }
      }

      .export {
        background-color: $btn-color;
        border: none;

        transition: 0.2s ease;

        &:hover {
          background-color: darken($btn-color, 10%);
        }
      }

      .selected-count {
        color: $rg-subtitle;
        margin-left: auto;
        font-size: 14px;
      }
    }
  }

  .pagination-controls {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;

    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 2;

    .pagination-button {
      background: none;
      border: none;
      border-radius: 50%;
      padding: 8px 12px;
      cursor: pointer;
      transition: all 0.2s ease;
      order: 2;

      &:hover:not(:disabled) {
        background-color: $rg-bg-hover-extra;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .page-info {
      font-size: 14px;
      color: $rg-text;
    }

    .page-select {
      padding: 5px 10px 5px 10px;
      border: 1px solid $us-border-button;
      border-radius: 8px;
      appearance: none;
      background: transparent;
      background-size: 12px;
      cursor: pointer;
      width: auto;
      color: $text-color;
      order: 1;

      &:focus {
        outline: none;
        border-color: $btn-color;
        background-color: $rg-bg-hover-extra;
      }
    }

    .arrow-icon.rotate-180 {
      transform: rotate(180deg);
    }

    .page-numbers {
      display: flex;
      gap: 4px;
      align-items: center;
      margin: 0 10px;
      order: 3;

      .ellipsis {
        color: $us-page-btn;
        padding: 0 5px;
      }

      .page-button {
        background: none;
        border: none;
        color: $us-page-btn;
        padding: 8px 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s ease;
        min-width: 32px;

        &:hover:not(.active) {
          background-color: $rg-bg-hover-extra;
        }

        &.active {
          border-color: $us-border-button;
          background-color: $btn-color;
          color: $us-bg-filters;

          cursor: default;
          font-weight: bold;
        }
      }
    }
    .pagination-button:last-child {
      order: 4;
    }
  }

  .users-container-details {
    width: 25%;
    height: 100%;
    border-radius: 12px;

    display: flex;
    align-items: center;
    flex-direction: column;

    align-self: stretch;
    height: auto;

    padding: 40px 30px 30px 30px;
    background: $rg-bg;

    .users-header {
      width: 100%;
      position: relative;

      .line-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .title {
          font-size: 24px;
          color: $text-color;
          font-weight: 500;
          margin-bottom: 15px;
        }
        .close-icon {
          display: flex;
          width: 36px;
          height: 36px;
          justify-content: center;
          align-items: center;
          transition: ease 0.3s;
          cursor: pointer;
          border-radius: 50%;

          margin-top: -20px;

          &:hover {
            background-color: $rg-bg-hover-extra;
          }
          img {
            width: 16px;
            height: 16px;
          }
        }
      }

      .image-user {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .user-line {
        display: flex; /* Coloca os elementos na mesma linha */
        align-items: center; /* Centraliza verticalmente */
        margin-bottom: 5px;
        gap: 10px;

        .name {
          font-size: 15px;
          font-weight: 300;
        }

        .situation {
          font-size: 12px;
          font-weight: 200;
          display: flex;
          align-items: center;

          & > div {
            display: flex;
            align-items: center;
            border: 0.5px solid $us-border-button;
            padding: 4px 9px 4px 8px;
            border-radius: 45px;

            img {
              width: 10px;
              height: 10px;
              margin-right: 7px;
              position: relative;
            }
          }
        }
        .name,
        .situation {
          display: inline-block;
          color: $text-color;
        }

        .situation img {
          vertical-align: middle;
          margin-right: 2px;
        }
      }

      .email {
        font-size: 13px;
        font-weight: 400;
        color: $text-color;
        margin-bottom: 15px;
      }

      .phone-and-document {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 10px;
        color: $text-color;
        font-size: 11px;
        font-weight: 200;
        margin-bottom: 10px;

        .phone,
        .document {
          display: flex; // Adiciona flexbox
          align-items: center; // Centraliza verticalmente
          gap: 4px;
          background-color: $us-details-phone-document;
          padding: 6px;
          border-radius: 8px;
        }
      }

      .divider {
        width: 100%;
        height: 1px;
        background-color: $sb-divider-color;
      }
    }
  }
}
