<div class="list-wrapper">
  <!-- Cabeçalho com filtros -->
  <div class="filters-list">
    <div class="checkbox" (click)="toggleSelectAll($event)">
      <img [src]="allSelected ? 'assets/svg/icon/register/step-2/check-on.svg' : 'assets/svg/icon/register/step-2/check-off.svg'">
    </div>
    <div class="filter-item id">
      {{filterId}}
      <img src="assets/svg/icon/users/arrow-filter.svg">
    </div>
    <div class="filter-item name">
      {{filterName}}
      <img src="assets/svg/icon/users/arrow-filter.svg">
    </div>
    <div class="filter-item email">
      {{filterEmail}}
      <img src="assets/svg/icon/users/arrow-filter.svg">
    </div>
    <div class="filter-item date">
      {{filterDate}}
      <img src="assets/svg/icon/users/arrow-filter.svg">
    </div>
    <div class="filter-item situation">
      {{filterSituation}}
      <img src="assets/svg/icon/users/arrow-filter.svg">
    </div>
    <div class="filter-item more">
      {{filterMore}}
    </div>
  </div>

  <div class="list-scroll-container">
    <div class="list-container"
     [class.selected]="isSelected(user.id)"
     *ngFor="let user of visibleUsers"
     (click)="selectSingleUser(user.id)">
     <div class="checkbox" (click)="toggleUserSelection(user.id, $event)">
      <img [src]="selectedUsers.has(user.id) ?
                'assets/svg/icon/register/step-2/check-on.svg' :
                'assets/svg/icon/register/step-2/check-off.svg'">
    </div>

      <div class="list-item id">{{user.id}}</div>
      <div class="list-item name">{{user.name}}</div>
      <div class="list-item email">{{user.email}}</div>
      <div class="list-item date">{{user.date}}</div>
      <div class="list-item situation">
        <div>
          <img [src]="getSituationIcon(user.situation)">
          <span>{{translateField('situation', user.situation)}}</span>
        </div>
      </div>
      <div class="list-item more">
        <img src="assets/svg/icon/register/step-2/extra_info.svg">
      </div>
    </div>
  </div>
</div>
