@import "../../../../styles/variables.scss";

.list-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  --row-height: 45px;
  --visible-rows: 10;

  .filters-list {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    padding: 0px 15px;
    border-radius: 8px;
    background-color: $us-bg-filters;
    flex-shrink: 0;

    .filter-item {
      display: flex;
      align-items: center;
      color: $rg-text;
      font-size: 12px;
      padding: 12px 0;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      & > span {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      img {
        width: 14px;
        height: 14px;
        margin-left: 5px;
        cursor: pointer;
      }
    }

    .checkbox {
      width: 18px;
      height: 18px;
      flex: 0 0 30px;
      cursor: pointer;
    }

    .id {
      flex: 0 0 54px;
    }
    .name {
      flex: 3 1 15%;
    }
    .email {
      flex: 3 1 20%;
    }
    .group {
      flex: 1 1 13%;
    }
    .situation {
      flex: 1 1 10%;
      font-size: 12px;
    }
    .more {
      flex: 0 0 30px;
    }
  }

  .list-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid $us-bg-filters;
    height: auto;
    min-height: 45px;
    transition: background-color 0.1s ease;
    cursor: default;
    padding: 0 15px 0 4px;

    &:hover,
    &.selected {
      background-color: $rg-bg-hover-extra;
      cursor: pointer;

      .more {
        background-color: $rg-bg-hover-extra;
        &:hover {
          background-color: darken($rg-bg-hover-extra, 5%);
        }
      }
    }

    &.selected {
      background-color: darken($rg-bg-hover-extra, 5%);
      .more {
        background-color: darken($rg-bg-hover-extra, 5%);
        &:hover {
          background-color: darken($rg-bg-hover-extra, 10%);
        }
      }
    }

    .list-item {
      color: $rg-text;
      font-size: 14px;
      font-weight: 200;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .checkbox {
      position: relative;
      flex: 0 0 40px; // Mantém o espaço alocado original
      width: 40px; // Tamanho visual mantido
      height: 40px; // Tamanho visual mantido
      display: flex;
      align-items: center;
      justify-content: center;

      // Área de clique aumentada
      &::after {
        content: "";
        position: absolute;
        width: 45px; // Área de clique maior
        height: 45px; // Área de clique maior
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); // Centraliza a área de clique

        cursor: pointer;
      }

      img {
        width: 18px;
        height: 18px;
        position: relative;
        z-index: 1;
        pointer-events: none;
      }
    }

    .id {
      flex: 0 0 54px;
    }
    .name {
      flex: 3 1 15%;
    }
    .email {
      flex: 3 1 20%;
    }
    .group {
      flex: 1 1 12.5%;
    }
    .situation {
      flex: 1 1 10%;
      font-size: 11px;
      font-weight: 200;
      display: flex;
      align-items: center;

      & > div {
        display: flex;
        align-items: center;
        border: 0.5px solid $us-border-button;
        padding: 4px 9px 4px 8px;
        border-radius: 45px;
      }

      img {
        width: 10px;
        height: 10px;
        margin-right: 7px;
        position: relative;
      }
    }

    .more {
      flex: 0 0 20px;
      margin-left: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      transition: background-color 0.1s ease;
      cursor: pointer;

      img {
        width: 16px;
        height: 16px;
        transition: filter 0.1s ease;
      }

      &:hover {
        background-color: $rg-bg-hover-extra;
      }
    }
  }

  .list-scroll-container {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    --row-height: 45px;
    max-height: calc(var(--visible-rows, 6) * var(--row-height));

    min-height: 300px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: $us-bg-filters;
    }

    &::-webkit-scrollbar-thumb {
      background: $us-page-btn;
      border-radius: 4px;
    }

    @media (min-height: 690px) {
      --visible-rows: 6;
    }
    @media (min-height: 735px) {
      --visible-rows: 7;
    }
    @media (min-height: 780px) {
      --visible-rows: 8;
    }
    @media (min-height: 825px) {
      --visible-rows: 9;
    }
    @media (min-height: 870px) {
      --visible-rows: 11;
    }
    @media (min-height: 960px) {
      --visible-rows: 12;
    }
    @media (min-height: 1005px) {
      --visible-rows: 13;
    }
    @media (min-height: 1050px) {
      --visible-rows: 15;
    }
    @media (min-height: 1095px) {
      --visible-rows: 16;
    }
    @media (min-height: 1140px) {
      --visible-rows: 17;
    }
    @media (min-height: 1185px) {
      --visible-rows: 18;
    }
    @media (min-height: 1230px) {
      --visible-rows: 19;
    }
    @media (min-height: 1320px) {
      --visible-rows: 20;
    }
    @media (min-height: 1410px) {
      --visible-rows: 22;
    }
    @media (min-height: 1440px) {
      --visible-rows: 24;
    }
    @media (min-height: 1600px) {
      --visible-rows: 26;
    }
    @media (min-height: 1800px) {
      --visible-rows: 28;
    }
    @media (min-height: 2000px) {
      --visible-rows: 30;
      max-height: 80vh;
    }
  }

  .pagination-controls {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;

    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 2;

    .pagination-button {
      background: none;
      border: none;
      border-radius: 50%;
      padding: 8px 12px;
      cursor: pointer;
      transition: all 0.2s ease;
      order: 2;

      &:hover:not(:disabled) {
        background-color: $rg-bg-hover-extra;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

    .page-info {
      font-size: 14px;
      color: $rg-text;
    }

    .page-select {
      padding: 5px 10px 5px 10px;
      border: 1px solid $us-border-button;
      border-radius: 8px;
      appearance: none;
      background: transparent;
      background-size: 12px;
      cursor: pointer;
      width: auto;
      color: $text-color;
      order: 1;

      &:focus {
        outline: none;
        border-color: $btn-color;
        background-color: $rg-bg-hover-extra;
      }
    }

    .arrow-icon.rotate-180 {
      transform: rotate(180deg);
    }

    .page-numbers {
      display: flex;
      gap: 4px;
      align-items: center;
      margin: 0 10px;
      order: 3;

      .ellipsis {
        color: $us-page-btn;
        padding: 0 5px;
      }

      .page-button {
        background: none;
        border: none;
        color: $us-page-btn;
        padding: 8px 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s ease;
        min-width: 32px;

        &:hover:not(.active) {
          background-color: $rg-bg-hover-extra;
        }

        &.active {
          border-color: $us-border-button;
          background-color: $btn-color;
          color: $us-bg-filters;

          cursor: default;
          font-weight: bold;
        }
      }
    }
    .pagination-button:last-child {
      order: 4;
    }
  }

  .users-container-details {
    width: 25%;
    height: 100%;
    border-radius: 12px;

    display: flex;
    align-items: center;
    flex-direction: column;

    align-self: stretch;
    height: auto;

    padding: 40px 30px 30px 30px;
    background: $rg-bg;

    .users-header {
      width: 100%;
      position: relative;

      .title {
        font-size: 24px;
        color: $text-color;
        font-weight: 500;
        margin-bottom: 15px;
      }

      .image-user {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .user-line {
        display: flex; /* Coloca os elementos na mesma linha */
        align-items: center; /* Centraliza verticalmente */
        margin-bottom: 7px;
        gap: 10px;

        .name {
          font-size: 15px;
          font-weight: 300;
        }

        .situation {
          font-size: 12px;
          font-weight: 200;
          display: flex;
          align-items: center;

          & > div {
            display: flex;
            align-items: center;
            border: 0.5px solid $us-border-button;
            padding: 4px 9px 4px 8px;
            border-radius: 45px;

            img {
              width: 10px;
              height: 10px;
              margin-right: 7px;
              position: relative;
            }
          }
        }
        .name,
        .situation {
          display: inline-block; /* Garante que fiquem na mesma linha */
          color: $text-color;
        }

        .situation img {
          vertical-align: middle; /* Alinha ícone com texto */
          margin-right: 2px; /* Espaço mínimo entre ícone e texto (opcional) */
        }
      } /* Alinha verticalmente no centro */

      .email {
        font-size: 13px;
        font-weight: 400;
        color: $text-color;
      }
    }
  }
}
