@import "../../../../styles/variables.scss";

:host {
  display: block; // Essencial para o componente aceitar largura
  width: 100%;    // Ocupa o que o pai permitir
}

.select-wrapper-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;     /* Adicione isso */
}

.select-wrapper {
  width: 100%;
  font-size: 11px;
  font-weight: 300;
  background-color: darken($text-color, 97%);
  border-radius: 8px;
  color: $us-border-button;
  border: 1px solid;
  border-color: $us-border-button;
  padding: 8px;
  cursor: pointer;

  &:hover {
    background-color: darken($text-color, 98%);
  }

  .option {
    background-color: $login-bg;
    color: $text-color;
  }

  &:focus,
  &:active {
    box-shadow: none;
  }
}
