@import "../../../../../styles/variables.scss";

button {

        width: 100%;
        padding: 18px 0;
        margin: 0 auto;
        border-radius: 12px;
        border: none;
        font-size: 14px;
        font-weight: 600;
        color: $btn-text-color;
        background-color: var(--dynamic-color, $btn-color);
        cursor: pointer;
        transition: filter 0.3s ease;

        &:hover {
          filter: brightness(0.8);
        }
      }
