@import "../../../styles/variables.scss";

.header-top {
  background: $sb-bg;
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.header-container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.user-container {
  position: relative;
  height: 100%;

  .notification-icon {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }

    &:hover {
      transition: background-color 0.3s ease;
      background-color: $sb-hover-bg;
    }
  }

  .user-toggler {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}



.menu,
.menu-language {
  background: $sb-bg;
  color: $text-color;
  padding: 10px;
  position: absolute;
  top: 70px;
  right: 20px;
  width: 300px;
  border-radius: 12px;
  z-index: 1001;
  box-shadow: -8px 8px 12px rgba(0, 0, 0, 0.3);
}

.divider {
  border-top: 1px solid #666;
  margin: 8px 0;
  width: 100%;
}

.menu-item,
.menu-item-user,
.menu-item-language {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 11px;

  .icon {
    width: 18px;
    height: 18px;
  }

  h4 {
    font-size: 15px;
    font-weight: 300;
    margin: 0;
  }

  .arrow {
    width: 12px;
    height: 12px;
    margin-left: auto;
  }
}

.menu-item-user {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 10px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    grid-row: span 2;
  }

  .name {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
  }

  .email {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
  }
}

.menu-item:hover {
  transition: background-color 0.3s ease;
  background: $sb-hover-bg;

  h4 {
    font-weight: 500;
  }
}

.menu-language {
  z-index: 1002;

  .menu-item-header {
    font-size: 18px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 10px;

    .arrow-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $sb-hover-bg;
      }

      .arrow {
        width: 18px;
        height: 18px;
        transform: scaleX(-1);
        transition: filter 0.3s ease;
      }
    }

    .name {
      margin: 0;
      font-size: 18px;
      font-weight: 300;
    }
  }

  .menu-item-language {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 11px;

    h4 {
      font-size: 15px;
      font-weight: 400;
      margin: 0;
    }
  }
  .menu-item-language:hover {
    transition: background-color 0.3s ease;

    background: $sb-hover-bg;

    h4 {
      font-weight: 500;
    }
  }
}


