@import "../../../../styles/variables.scss";

/* Esconde o checkbox nativo */
input[type="checkbox"] {
  display: none;
}

@media (max-width: 768px) {
  .checkbox-container {
    flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .checkbox-container .extra-information .menu {
    left: auto;
    right: 0;
  }
}

.parent-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  width: calc(50% - 5px);
  flex: 0 0 calc(50% - 5px);
  min-width: 0;
  height: 40px;
  background-color: $rg-bg-checkbox;
  border-radius: 10px;
  position: relative;
  transition: background-color 0.3s ease;
  box-sizing: border-box;

  &:hover {
    background-color: darken($rg-bg-checkbox, 2%);
  }

  .item-content-left {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;

    .item-title {
      font-size: 12px;
      font-weight: 350;
      color: $rg-text;
    }
  }

  .extra-information {
    width: 22px;
    height: 22px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $rg-bg-hover-extra;
    }

    .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 4px;
      user-select: none;
    }

    img {
      width: 13px;
      height: 13px;
      pointer-events: none;
    }
  }

  .critical-wrapper {
    position: relative;
    display: inline-block;
    margin-right: 5px;
  }

  .critical-icon {
    width: 12px;
    height: 12px;
    cursor: help;
    user-select: none;
  }


  .custom-checkbox-clickable {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 26px;
  }

  .checkbox-icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }

  label {
    display: none;
  }
}

::ng-deep .permission-details-menu {
  background-color: $rg-bg-hover-extra !important;
  max-width: 250px;
  border-radius: 8px !important;

  .mat-mdc-menu-content {
    padding: 8px !important;
  }

  .menu-content {
    outline: none;
  }

  .menu-title {
    font-weight: bold;
    color: white;
    font-size: 12px;
    margin-bottom: 4px;
    padding: 0 4px;
  }

  .menu-item {
    color: white;
    font-size: 12px;
    padding: 0 4px;
    white-space: normal;
  }
}
