<app-default-step
  [title]="title"
  [subtitle]="subtitle"
  [currentStepState]="1"
  [btnLast]="btnLast"
  [showBackIcon]="false"
  (submit)="submit()">

  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="register-form">
      <div class="name">
        <h3>{{ titleName }}</h3>
        <app-primary-input
          formControlName="name"
          [placeholder]="placeholderName">
          <img src="assets/svg/icon/register/user.svg" alt>
        </app-primary-input>
      </div>
      <div class="email">
        <h3>{{ titleEmail }}</h3>
        <app-primary-input
          formControlName="email"
          type="email"
          [placeholder]="placeholderEmail">
          <img src="assets/svg/icon/email.svg" alt>
        </app-primary-input>
      </div>
      <div class="phone-and-document">
        <div class="phone">
          <h3>{{ titlePhone }}</h3>
          <app-primary-input
            formControlName="phone"
            [placeholder]="placeholderPhone">
            <img src="assets/svg/icon/register/phone.svg" alt>
          </app-primary-input>
        </div>
        <div class="document">
          <h3>{{ titleDocument }}</h3>
          <app-primary-input
            formControlName="document"
            [placeholder]="placeholderDocument">
            <img src="assets/svg/icon/register/document.svg" alt>
          </app-primary-input>
        </div>
      </div>
      <div class="password-and-confirm">
        <div class="password">
          <h3>{{ titlePassword }}</h3>
          <app-primary-input
            formControlName="password"
            type="password"
            [placeholder]="placeholderPassword"
            [isPassword]="true">
            <img src="assets/svg/icon/password.svg" alt>
          </app-primary-input>
        </div>
        <div class="confirm-password">
          <h3>{{ titleConfirmPassword }}</h3>
          <app-primary-input
            formControlName="confirmPassword"
            type="password"
            [placeholder]="placeholderConfirmPassword"
            [isPassword]="true">
            <img src="assets/svg/icon/password.svg" alt>
          </app-primary-input>
        </div>
      </div>
    </div>
  </form>
</app-default-step>
