<div class="parent-container">
  <div class="checkbox-container" *ngFor="let item of filteredList">

    <div class="item-content-left">
      <div class="extra-information">
        <div class="icon-wrapper" [matMenuTriggerFor]="detailsMenu" [matTooltip]="menuTooltip"
          matTooltipPosition="above">
          <img src="assets/svg/icon/register/step-2/extra_info.svg" alt="Info" />
        </div>

        <mat-menu #detailsMenu="matMenu" class="permission-details-menu">
          <div class="menu-content" (click)="$event.stopPropagation()">
            <div class="menu-title">{{ item.title }}</div>
            <div class="menu-item">{{ item.description }}</div>
          </div>
        </mat-menu>
      </div>

      <div class="critical-wrapper">
        <img [src]="'assets/svg/icon/register/step-2/' + getSvgFileName(item.critical)" [alt]="item.critical"
          class="critical-icon" [matTooltip]="getCriticalText(item.critical)" matTooltipPosition="above" />
      </div>
      <span class="item-title">{{ item.title }}</span>
    </div>
    <div class="custom-checkbox-clickable" (click)="toggleAndChange(item)">
      <img [src]="'assets/svg/icon/register/step-2/' + getCheckboxIcon(item)"
        [alt]="item.checked ? 'Selecionado' : 'Não selecionado'" class="checkbox-icon">
    </div>
  </div>
</div>