<div class="input-wrapper" [class.collapsed]="isCollapsed">
  <label [for]="inputName">{{ label }}</label>

  <div class="input-content">
    <input
      #searchInput
      [type]="fieldTextType ? 'text' : 'password'"
      [placeholder]="placeholder"
      [value]="value"
      (input)="onInput($event)"
      (focus)="focus.emit()"
      (blur)="blur.emit()"
    />
    <div *ngIf="isPassword" class="toggle-icon" (click)="toggleFieldTextType()">
      <img [src]="fieldTextType ? 'assets/svg/icon/eye-off.svg' : 'assets/svg/icon/eye-on.svg'" alt="Toggle Password Visibility">
    </div>
    <div class="icon" (click)="handleIconClick()">
      <ng-content></ng-content>
    </div>
  </div>
</div>
