//default login e login page
$background-login: #121212;
$background-image: black;
$title-color: #fff;
$text-color: #fff;
$subtitle-color: #8C8C8C;
$input-color: #fff;
$placeholder-input-color: #555555;
$button-color: #018BE3;
$button-text-color: #fff;


