//global styles styles.scss
$background-color: #1f1f1f;

//default login e login page
$login-bg: #1f1f1f;
$image-bg: black;
$title-color: #fff;
$text-color: #fff;
$subtitle-color: #8C8C8C;
$input-border: #fff;
$input-bg: #0D0D0D;
$placeholder-input-color: #555555;
$btn-color: #018BE3;
$btn-text-color: #fff;

//sidebar
$sb-bg: #1f1f1f;
$sb-width: 300px;
$sb-collapsed-width: 80px;
$sb-logo-bg: #fff;
$sb-logo-size: 40px;
$sb-btn-size: 18px;
$sb-text-color: #f3f3f3;
$sb-text-active-color: #000000;
$sb-text-hover-color: #f3f3f3;
$sb-active-bg: #fff;
$sb-hover-bg: #313131;
$sb-shadow-color: #8690a3;
$sb-divider-color: #2c2c2c;

//main layout
$bg-main: #0a0a0a;

//register
$rg-bg: #1f1f1f;
$rg-title: #fff;
$rg-subtitle: #838383;
$rg-label: #fff;
$rg-step-missing-div: #363636;
$rg-step-missing-text: #838383;
$rg-step-completed: #018BE3;
$rg-text: #fff;
$rg-text-secondary: #fff;
$rg-bg-checkbox: #222222;
$rg-bg-hover-extra: #303030;
$rg-bg-text-box: #0C0C0C;
$rg-delete-chip: #D35353;
$rg-border-chip: #757575;

//users
$us-bg-filters: #424242;
$us-filter-arrow: #A7A7A7;
$us-border-btn: #757575;
$us-border-btn-active: #FFFFFF;
$us-page-btn: #a0a0a0;
$us-details-phone-document: #323232;
$us-bg-permission: #222222;

//styles default
$dropdown-border: #757575;
$dropdown-txt: #757575;
$dropdown-border-active: #FFFFFF;
$dropdown-txt-active: #FFFFFF;
$dropdown-background: darken($text-color, 97%);

//components
//Popup Dialog
$dialog-bg: #1f1f1f;
$dialog-btn-left: #18AE6D;
$dialog-btn-right: #D35353;

:root {
  --dialog-btn-left: #{$dialog-btn-left};
  --dialog-btn-right: #{$dialog-btn-right};
}
