//global styles styles.scss
$background-color: #121212;

//default login e login page
$login-bg: #121212;
$image-bg: black;
$title-color: #fff;
$text-color: #fff;
$subtitle-color: #8C8C8C;
$input-color: #fff;
$placeholder-input-color: #555555;
$btn-color: #018BE3;
$btn-text-color: #fff;

//sidebar
$sb-bg: #121212;
$sb-width: 300px;
$sb-collapsed-width: 80px;
$sb-logo-bg: #fff;
$sb-logo-size: 40px;
$sb-btn-size: 18px;
$sb-text-color: #f3f3f3;
$sb-text-hover-color: #000;
$sb-active-bg: #fff;
$sb-hover-bg: #ffffff0a;
$sb-shadow-color: #8690a3;
$sb-divider-color: #363636;

//main layout
$bg-main: #070707;

//register
$rg-bg: #121212;
$rg-title: #fff;
$rg-subtitle: #838383;
$rg-label: #fff;
$rg-step-missing: #838383;
$rg-step-completed: #00a0d1;
$rg-text: #fff;
$rg-bg-checkbox: #222222;


$rg-svg-step-completed: invert(43%) sepia(95%) saturate(2598%) hue-rotate(167deg) brightness(95%) contrast(101%);

