@import "../../../../styles/variables.scss";

.input-wrapper {
  font-size: 15px;
  text-align: start;

  &.collapsed {
    .input-content {
      justify-content: center;
      cursor: pointer;

      input {
        opacity: 0;
        width: 0;
        border: none;
        transition: all 0.2s ease;
      }

      .clear-wrapper {
        opacity: 0 !important;
        visibility: hidden !important;
        transform: translateY(-50%) scale(0.8) !important;
        transition: all 0.3s ease !important;
        pointer-events: none !important;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .input-content {
    position: relative;
    width: 100%;
    display: flex;

    input {
      padding: 11px 44px 11px 11px;
      width: 100%;

      border-radius: 12px;
      border: 1px solid $input-border;
      background-color: transparent;
      color: $text-color;
      transition: background-color ease 0.3s;

      &:hover {
        background-color: darken($color: #ffffff, $amount: 85%);
      }
    }

    .clear-wrapper {
      position: absolute;
      top: 50%;
      right: 45px;
      transform: translateY(-50%);
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 50%;

      opacity: 1;
      transform: translateY(-50%) scale(1);
      transition: all 0.3s ease;
      pointer-events: auto;

      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;

      .clear-icon {
        width: 14px;
        height: 14px;
      }

      &.hidden {
        opacity: 0;
        transform: translateY(-50%) scale(0.8);
        pointer-events: none;
      }

      &:hover {
        transition: background-color 0.3s ease;
        background-color: $sb-hover-bg;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;

      width: 40px;
      height: 40px;
      border-radius: 12px;
      background-color: $input-border;

      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;

      img {
        height: 20px;
        width: 20px;
      }
    }
  }
}
