<div class="input-wrapper" [class.collapsed]="isCollapsed">
  <label [for]="inputName">{{ label }}</label>

  <div class="input-content">
    <input
      #searchInput
      [type]="fieldTextType ? 'text' : 'password'"
      [placeholder]="placeholder"
      [value]="value"
      (input)="onInput($event)"
      (focus)="focus.emit()"
      (blur)="blur.emit()"
    />
    <div class="clear-wrapper" [class.hidden]="!value">
      <img class="clear-icon" src="assets/svg/icon/input/clear.svg" (click)="clearInput()">
    </div>
    <div class="icon" (click)="handleIconClick()">
      <ng-content></ng-content>
    </div>
  </div>
</div>
