@import "../../../../styles/variables.scss";

.resume-data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;

  >div {
    flex: 1;
    display: flex;
    flex-direction: column;

    >div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      h2 {
        font-size: 14px;
        color: $rg-title;
        font-weight: 400;
        margin: 0 0 5px 0;
      }

      p {
        font-size: 13px;
        color: $rg-subtitle;
        font-weight: 500;
        margin: 0;
      }
    }
  }

  .name {
    align-items: flex-start;
  }

  .email {
    align-items: center;
  }

  .phone {
    align-items: flex-end;
  }
}

.resume-permissions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;

  h2 {
    font-size: 14px;
    color: $rg-title;
    font-weight: 400;
    margin: 0 0 5px 0;
  }
}

.resume-extra-information {
  display: flex;
  width: 100%;
  margin-bottom: 25px;

  >div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;


    h2 {
      font-size: 14px;
      color: $rg-title;
      font-weight: 400;
      margin: 0 0 5px 0;
    }

    p {
      font-size: 14px;
      color: $rg-title;
      font-weight: 200;
    }
  }
}

.resume-attachments {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;

  h2 {
    font-size: 14px;
    color: $rg-title;
    font-weight: 400;
    margin: 0 0 5px 0;
  }
}

.register-header {
  width: 100%;
  text-align: left;

  .title {
    font-size: 24px;
    color: $rg-title;
    font-weight: 500;
    margin-bottom: 15px;
    text-align: left;
  }

  .subtitle {
    font-size: 14px;
    color: $rg-subtitle;
    font-weight: 300;
    margin-bottom: 25px;
    text-align: left;
  }

  img {
    position: absolute;
    top: 30px;
    right: 30px;

    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: darken($text-color, 90%);
    }
  }
}

.permissions-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

button {
  width: 275px;
  padding: 18px 0;
  margin: auto 0;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: $btn-text-color;
  background-color: $btn-color;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($btn-color, 8%);
  }
}
