<app-default-step
  [title]="title"
  [subtitle]="subtitle"
  [currentStepState]="4"
  [btnLast]="btnRegister"
  [returnStep]="3"
  (submit)="handleOpenDialog()">

  <div class="resume-data">
    <div class="name">
      <div>
        <h2>{{ titleName }}</h2>
        <p>{{ registrationData.name || '-' }}</p>
      </div>
    </div>
    <div class="email">
      <div>
        <h2>{{ titleEmail }}</h2>
        <p>{{ registrationData.email || '-' }}</p>
      </div>
    </div>
    <div class="phone">
      <div>
        <h2>{{ titlePhone }}</h2>
        <p>{{ registrationData.phone || '-' }}</p>
      </div>
    </div>
    <div class="enrollment">
      <div>
        <h2>{{ titleEnrollment }}</h2>
        <p>{{ registrationData.enrollment || '-' }}</p>
      </div>
    </div>
  </div>

  <div class="resume-groups">
    <h2>Grupos</h2>
    <div class="groups-container">
      <app-group-chip
        [groups]="selectedGroupsDetails"
        [maxDisplay]="5"
        [allowExpand]="true">
      </app-group-chip>
    </div>
  </div>

  @if (permissionUserSelected?.length) {
  <div class="resume-permissions">
    <h2>{{ stepTwo }}</h2>
    <div class="permissions-container"></div>
  </div>

  <div class="list-permissions">
    <div class="permission" *ngFor="let permission of permissionUserSelected">

      <img [matTooltip]="getCriticalText(permission.critical)"
        [matTooltipClass]="'tooltip'"
        matTooltipPosition="above" [src]="getSvgFileName(permission.critical)"
        class="critical-icon" />

      <span class="title" matTooltipPosition="above"
        [matTooltipClass]="'tooltip'"
        matTooltip="{{permission.title}}">{{ permission.title }}</span>

      <div class="extra-information">
        <div class="icon-wrapper" [matMenuTriggerFor]="detailsMenu">
          <img src="assets/svg/icon/register/step-2/extra_info.svg" alt="Info"
            [matTooltip]="menuTooltip" matTooltipPosition="above" />
        </div>

        <mat-menu #detailsMenu="matMenu" class="permission-details-menu">
          <div class="menu-content" (click)="$event.stopPropagation()">
            <div class="menu-title">{{ permission.title }}</div>
            <div class="menu-item">{{ permission.description }}</div>
          </div>
        </mat-menu>
      </div>

    </div>
  </div>
  }
  <div class="resume-extra-information">
    <div>
      <h2>{{ stepThree }}</h2>
      <p>{{ registrationData.description || '-' }}</p>
    </div>
  </div>
</app-default-step>

<app-default-popup
  title="Confirmar Cadastro"
  description="Deseja finalizar?"
  buttonLeftTitle="Registrar"
  buttonRightTitle="Cancelar"
  buttonLeftColor="#18AE6D"
  buttonRightColor="#D35353"
  (confirmAction)="confirmRegistration()">
</app-default-popup>
