<app-default-step
  [title]="title"
  [subtitle]="subtitle"
  [currentStepState]="4"
  [btnLast]="btnRegister"
  [returnStep]="3"
  (submit)="confirmRegistration()">

  <div class="resume-data">
    <div class="name">
      <div>
        <h2>{{ titleName }}</h2>
        <p>{{ registrationData.name || '-' }}</p>
      </div>
    </div>
    <div class="email">
      <div>
        <h2>{{ titleEmail }}</h2>
        <p>{{ registrationData.email || '-' }}</p>
      </div>
    </div>
    <div class="phone">
      <div>
        <h2>{{ titlePhone }}</h2>
        <p>{{ registrationData.phone || '-' }}</p>
      </div>
    </div>
  </div>

  <div class="resume-permissions">
    <h2>{{ stepTwo }}</h2>
    <div class="permissions-container"></div>
  </div>

  <div class="resume-extra-information">
    <div>
      <h2>{{ stepThree }}</h2>
      <p>informaciones</p>
    </div>
  </div>

  <div class="resume-attachments">
    <h2>{{ attachment }}</h2>
  </div>

</app-default-step>
