@if (isVisible()) {

  <div class="dialog-overlay" [@overlayFade]>

    <div class="dialog-box" [@popupAnimation]>

      <h1 class="title">{{ title }}</h1>
      <p class="description">{{ description }}</p>

      <div class="actions-wrapper">

        <app-default-button
          [label]="buttonLeftTitle"
          [color]="buttonLeftColor"
          (action)="handleConfirm()">
        </app-default-button>

        <app-default-button
          [label]="buttonRightTitle"
          [color]="buttonRightColor"
          (action)="handleClose()">
        </app-default-button>

      </div>

    </div>
  </div>

}
