@import "../../../../styles/variables.scss";

* {
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;

  .register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    >div {
      width: 100%;
    }

    h3 {
      font-size: 15px;
      color: $rg-label;
      font-weight: 400;
      margin-bottom: 6px;
      text-align: left;
    }

    app-primary-input {
      margin-bottom: 30px;
      width: 100%;
    }

    .phone-and-enrollment,
    .password-and-confirm {
      display: flex;
      gap: 20px;
      width: 100%;

      >div {
        flex: 1;
        width: 100%;
      }
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 6px;

      img {
        margin-bottom: 4px;

        width: 16px;
        height: 16px;
      }

      cursor: help;

    }

    .password,
    .confirm-password {
      margin-bottom: 40px;
    }

  }
}
