@import "../../../../styles/variables.scss";

input[type="checkbox"] {
  display: none;
}

@media (max-width: 768px) {
  .checkbox-container {
    flex-basis: 100%;
  }
}

.parent-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox-container {
  flex: 1 1 calc(50% - 10px);
  min-width: 300px;
  height: 40px; // Fixed height
  background-color: $rg-bg-checkbox;
  padding: 10px 5px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  display: flex; // Adiciona display flex
  align-items: center; // Alinha os itens verticalmente no centro
  gap: 5px; // Adiciona espaço entre os elementos

  &:hover {
    background-color: darken($rg-bg-checkbox, 2%);
  }

  .extra-information {
    width: 22px;
    height: 22px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 13px;
      height: 13px;
    }

    .menu {
      background: $rg-bg-hover-extra;
      color: white;
      padding: 5px;
      position: absolute;
      font-size: 12px;
      border-radius: 8px;
      width: 200px;
      transform: translate(42%, -90%);
      cursor: default;

    }

    .menu-title {
      font-weight: bold;
      padding: 3px 5px;

    }

    .menu-item {
      padding: 3px 5px;
    }
  }

  .extra-information:hover {
    background-color: $rg-bg-hover-extra;
    cursor: pointer;
  }

  .critical-icon {
    width: 20px;
    height: 20px;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 55px;
    padding: 10px 10px;
    font-size: 12px;
    color: $rg-text;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;

    // Add these to ensure content alignment in fixed height
    &::after {
      position: relative;
      top: 0;
      right: 0;
    }
  }
}

input[type="checkbox"]+label::after {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  background: url('../../../../../public/assets/svg/icon/register/step-2/check-off.svg') no-repeat;
  background-size: 18px 18px;
}

input[type="checkbox"]:checked+label::after {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  background: url('../../../../../public/assets/svg/icon/register/step-2/check-on.svg') no-repeat;
  background-size: 18px 18px;
}
