@import "../../../../styles/variables.scss";

* {
  justify-content: center;
  align-items: center;
}

.filters-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;

    button {
      flex: 0 1 150px;
      max-width: 110px;
      margin-right: 15px;
      height: 28px;
      font-size: 12px;
      border-radius: 20px;
      border: 1px solid white;
      color: $text-color;
      background: transparent;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 400;

      &.selected {
        background-color: $rg-text;
        color: black;
        font-weight: 600 !important;

        &:hover {
          background-color: darken($rg-text, 15%);
        }
      }


      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: darken($rg-text, 90%);
      }
    }

    app-search-input {
      flex-grow: 1;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.group-title {
  font-size: 14px;
  color: $rg-title;
  font-weight: 200;
  margin-bottom: 15px;

  margin-right: auto;
  text-align: left;
}

.meu-dropdown-custom {
  align-self: flex-start; // Força a saída do centro para a esquerda
  width: 50%;

  margin-bottom: 15px;
}

.permissions-title {
  font-size: 14px;
  color: $rg-title;
  font-weight: 200;
  margin-bottom: 15px;

  margin-right: auto;
  text-align: left;
}

.permissions-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.permissions-checkbox {
  margin-bottom: 50px;
}
