<app-default-step [title]="title" [subtitle]="subtitle" [currentStepState]="2" [btnLast]="btnLast" [returnStep]="1"
  (submit)="submit()">

  <div class="filters-wrapper">
    <div class="filters">
      <button class="users" type="button" [ngClass]="{ 'selected': selectedButton === 'users' }"
        (click)="selectButton('users')">
        {{ filterOne }}
      </button>
      <button class="route" type="button" [ngClass]="{ 'selected': selectedButton === 'route' }"
        (click)="selectButton('route')">
        {{ filterTwo }}
      </button>
      <button class="admin" type="button" [ngClass]="{ 'selected': selectedButton === 'admin' }"
        (click)="selectButton('admin')">
        {{ filterThree }}
      </button>
      <app-search-input [placeholder]="inputSearch" (searchChange)="handleSearchChange($event)">
        <img src="assets/svg/icon/input/search.svg" alt />
      </app-search-input>
    </div>
  </div>
  <form>
    <div class="permissions-form">
      <app-steps-filter class="permissions-checkbox" [selectedFilter]="selectedButton"
        [searchQuery]="currentSearchQuery" (permissionSelected)="handlePermissionSelection($event)">
      </app-steps-filter>
    </div>
  </form>
</app-default-step>
