@import "../../../../../styles/variables.scss";

.chip {
  font-size: 12px;
  font-weight: 200;
  display: flex;
  align-items: center;
  color: $text-color;

  > div {
    display: flex;
    align-items: center;
    border: 0.5px solid $us-border-btn;
    padding: 4px 9px 4px 8px;
    border-radius: 45px;

    img {
      width: 10px;
      height: 10px;
      margin-right: 7px;
      position: relative;
    }
  }
}
