<app-default-login-layout
  [title]="title"
  [subtitle]="subtitle"
  [btnText]="btnText"
  [txtLink]="txtLink"
  [placeholderEmail]="placeholderEmail"
  [placeholderPassword]="placeholderPassword"
  (submit)="submit()"
  (navigate)="navigate()"
>
  <form [formGroup]="loginForm" *ngIf="!showForgotPasswordForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      [placeholder]="placeholderEmail"
      [isPassword]="false">
      <img src="assets/svg/icon/email.svg" alt>
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      [placeholder]="placeholderPassword"
      [isPassword]="true">
      <img src="assets/svg/icon/password.svg" alt>
    </app-primary-input>
  </form>

  <form [formGroup]="forgotPasswordForm" *ngIf="showForgotPasswordForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      [placeholder]="placeholderEmail"
      [isPassword]="false">
      <img src="assets/svg/icon/email.svg" alt>
    </app-primary-input>
  </form>
</app-default-login-layout>
