<main class="main-login">
  <div class="box-center">
    <div class="left-login">
      <img src="assets/svg/logo.svg">
    </div>
    <div class="box-login">
      <div class="right-login">
        <h1>{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
        <ng-content></ng-content>
        <span (click)="navigate()"> {{ txtLink }}</span>
        <button (click)="submit()"> {{btnText}} </button>
        <app-translate-dropdown class="select"></app-translate-dropdown>
      </div>
    </div>
  </div>
</main>
