<div class="sidenav" [class.sidenav-collapsed]="isLeftSidebarCollapsed">
  <div class="logo-container">
    <div class="logo-text" *ngIf="!isLeftSidebarCollapsed">GT System</div>
    <button class="menu" (click)="toggleSidebar()">
      <img
    [src]="isLeftSidebarCollapsed ?
           'assets/svg/icon/sidebar/sidebar-open.svg' :
           'assets/svg/icon/sidebar/sidebar-close.svg'"
    class="nav-icon"
    alt="Menu" />
    </button>
  </div>
  <app-search-input
    class="search-input"
    [placeholder]="placeholderSearch"
    [isCollapsed]="isLeftSidebarCollapsed"
    (iconClick)="handleSearchIconClick()">
    <img src="assets/svg/icon/search.svg" alt>
  </app-search-input>
  <div class="divider"></div>
  <div class="sidenav-nav">
    @for (item of items; track $index){
    <li class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        [routerLink]="item.routeLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <span
          class="sidenav-link-icon"
          [style.mask-image]="'url(' + item.icon + ')'"
          [attr.aria-label]="item.label"></span>
        <!-- No extra class -->
        <span class="sidenav-link-text" *ngIf="!isLeftSidebarCollapsed">{{
          item.label
          }}</span>
      </a>
    </li>
    }
  </div>
</div>
