@import "../../../styles/variables.scss";

.sidenav {
  background: $sb-bg;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 1100;
  top: 0;
  width: $sb-width;
  height: 100vh;
  padding: 20px;

  &-collapsed {
    width: $sb-collapsed-width;
    padding: 20px;

    .logo-text,
    .sidenav-link-text {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    .sidenav-nav-link {
      justify-content: center;
    }

    .search-input {
      margin-bottom: 22px !important;

      .input-content {
        justify-content: center;

        input {
          opacity: 0;
          visibility: hidden;
          width: 0;
          padding: 0;
          border: none;
        }
      }
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;

    .menu {
      background: transparent;
      border-radius: 12px;
      padding: 0.313rem;
      width: $sb-logo-size;
      height: $sb-logo-size;
      cursor: pointer;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;

      img {
        width: 18px;
        height: auto;
        filter: brightness(0) invert(1);
      }

      &:hover {
        background-color: $sb-hover-bg;
      }
    }

    .logo-text {
      font-size: 24px;
      font-weight: 700;
      color: $sb-text-color;
      white-space: nowrap;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }
  }

  .search-input {
    margin-bottom: 20px;
    display: block;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: $sb-divider-color;
    margin: 1rem 0 20px;
  }

  .sidenav-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);

    .sidenav-nav-item {
      width: 100%;
      margin-bottom: 0.625rem;
      position: relative;

      &:not(.has-submenu):hover .sidenav-nav-link {
        background-color: $sb-hover-bg;
      }

      &.has-submenu:hover > .sidenav-nav-link:not(.active) {
        background-color: $sb-hover-bg;
      }

      &.parent-active {
        > .sidenav-nav-link {
          background-color: $sb-hover-bg;
          color: $sb-text-hover-color;

          .sidenav-link-icon,
          .sidenav-link-text {
            color: $sb-text-hover-color;
            font-weight: 400;
          }

          &:hover {
            background-color: $sb-hover-bg !important;

            .sidenav-link-icon,
            .sidenav-link-text {
              color: $sb-text-hover-color !important;
            }
          }
        }
      }
    }

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 40px;
      color: $sb-text-color;
      text-decoration: none;
      border-radius: 12px;
      padding: 13px;
      transition: all 0.3s ease;
      cursor: pointer;

      .sidenav-link-icon {
        width: 18px;
        height: 18px;
        background-color: currentColor;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        flex-shrink: 0;
      }

      .submenu-icon {
        margin-left: auto;
        display: flex;
        align-items: center;
        padding: 0;
        background: transparent;

        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        .arrow-icon {
          width: 12px;
          height: 12px;
          transition: transform 0.3s ease;
          filter: brightness(0) invert(1);
          background: transparent;
          border: none;

          pointer-events: none;
          user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;

          &.rotated {
            transform: rotate(90deg);
          }
        }
      }

      .sidenav-link-text {
        margin-left: 1rem;
        font-weight: 300;
        font-size: 15px;
        transition: opacity 0.3s ease;
      }

      &:hover .sidenav-link-text {
        font-weight: 400;
        color: $sb-text-color;
      }
    }
  }

  .active {
    background-color: $sb-active-bg;
    color: $sb-text-active-color;

    .sidenav-link-icon,
    .sidenav-link-text {
      color: $sb-text-active-color;
      font-weight: 600 !important;
    }

    &:hover {
      .sidenav-link-icon {
        color: $sb-text-color !important;
      }

      .sidenav-link-text {
        color: $sb-text-color !important;
        font-weight: 400 !important;
      }
    }
  }

  .submenu {
    position: relative;
    left: auto;
    width: calc(100% - 20px);
    border-radius: 12px;
    transform-origin: top;
    animation: fadeInDown 0.3s ease-out forwards;
    margin: 0px 0px 0px 20px;
    list-style: none;
    padding-left: 0;

    @keyframes fadeInDown {
      from {
        opacity: 0;
        transform: translateY(-5px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .sidenav-nav-item {
      margin-bottom: 0;

      &:hover .sidenav-nav-link {
        background-color: $sb-hover-bg !important;
      }
    }

    .sidenav-nav-link {
      height: 40px;
      padding: 8px 13px 8px 35px;
      border-radius: 12px;
      margin-top: 10px;

      .sidenav-link-icon {
        width: 16px;
        height: 16px;
        margin-left: -20px;
      }

      .sidenav-link-text {
        font-size: 15px;
      }
    }
  }

  .active,
  .has-submenu:has(.submenu .active) {
    .submenu-icon .arrow-icon {
      filter: brightness(0) invert(1);
    }
  }

  .sidenav-nav-link:not(.active) {
    .submenu-icon .arrow-icon {
      filter: brightness(0) invert(1);
    }
  }

  .has-submenu:has(.submenu .active) {
    > .sidenav-nav-link:hover {
      .submenu-icon .arrow-icon {
        filter: brightness(0) invert(1) !important;
      }
    }
  }
}
