<div class="input-wrapper">
  <label [for]="inputName">{{ label }}</label>

  <div class="input-content">
    <input
      [type]="fieldTextType ? 'text' : 'password'"
      [placeholder]="placeholder"
      [value]="value"
      (input)="onInput($event)"
    />
    <div *ngIf="isPassword" class="toggle-icon" (click)="toggleFieldTextType()">
      <img [src]="fieldTextType ? 'assets/svg/icon/input/eye-off.svg' : 'assets/svg/icon/input/eye-on.svg'" alt="Toggle Password Visibility">
    </div>
    <div class="icon">
      <ng-content></ng-content>
    </div>
  </div>
</div>
