@import "../../../../../styles/variables.scss";

.input-wrapper {
  font-size: 15px;
  text-align: start;

  .input-content {
    position: relative;
    width: 100%;
    display: flex;

    input {
      padding: 14px 42px 14px 14px;
      width: 100%;

      border-radius: 12px;
      border: 1px solid $input-border;
      background-color: $input-bg;

      color: $text-color;

      &:hover {
        transition: background-color ease 0.3s;
        background-color: darken($color: #ffffff, $amount: 85%);
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;

      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;

      width: 38px;
      height: 38px;
      border-radius: 8px;
      background-color: $input-border;

      img {
        height: 20px;
        width: 20px;
      }
    }

    .toggle-icon {
      position: absolute;
      top: 50%;
      right: 55px;
      transform: translateY(-50%);
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 50%;

      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;

      img {
        width: 24px;
        height: 24px;
      }

      &:hover {
        transition: background-color 0.3s ease;
        background-color: $sb-hover-bg;
      }
    }
  }
}
