<div class="register-wrapper">
  <div class="register-container">
    <div class="register-header">
      <h1 class="title">{{ title }}</h1>
      <h2 class="subtitle">{{ subtitle }}</h2>
    </div>
    <div class="steps">
      <div class="step-1">
        <img src="assets/svg/icon/register/step-1.svg" alt>
        <h4 class="step-1-txt"> {{ stepOne }}</h4>
      </div>
      <div class="divider-1"></div>
      <div class="step-2">
        <img src="assets/svg/icon/register/step-2.svg" alt>
        <h4 class="step-2-txt"> {{ stepTwo }}</h4>
      </div>
      <div class="divider-2"></div>
      <div class="step-3">
        <img src="assets/svg/icon/register/step-3.svg" alt>
        <h4 class="step-3-txt"> {{ stepThree }}</h4>
      </div>
    </div>
    <form (ngSubmit)="submit()">
      <div class="permissions-form">
        <button type="button" (click)="submit()">
          {{ btnRegister }}
        </button>
      </div>
    </form>
  </div>
</div>
