@import "../../../../../styles/variables.scss";

* {
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .register-wrapper {
    padding: 10px !important; // Mobile padding
    min-height: calc(100vh - 86px);

    .register-container {
      padding: 20px 15px 40px 15px !important;
      width: 100%;
      margin: 0 10px;

      .steps {
        justify-content: center; // Center the steps
        align-items: center; // Align items vertically
        flex-direction: row; // Stack steps vertically
        gap: 10px; // Add spacing between steps

        .step-1 {
          display: flex;
          flex-direction: row; // Stack image and text vertically
          align-items: center; // Center horizontally
          gap: 5px; // Add spacing between image and text

          img {
            margin-left: 0px; // Remove margins for mobile
          }

          .step-1-txt {
            text-align: center; // Center the text
          }
        }

        .step-2 {

          .step-2-txt {
            display: none !important;

          }
        }
        .step-3 {
          .step-3-txt {
            display: none !important;

          }
          img {
            margin-right: 0px !important;
          }
        }

        .divider-2 {
          margin-left: 0px !important;
        }
      }

      form {
        .register-form {

          .phone-and-document,
          .password-and-confirm {
            .password {
              margin-bottom: 0px  !important;
            }
            .confirm-password {
              margin-bottom: 20px !important;
            }
            flex-direction: column; // Stack vertically
            gap: 15px;

            >div {
              width: 100% !important;
            }
          }

          button {
            width: 100% !important; // Full width button
          }
        }
      }
    }
  }
}

@media (max-width: 860px) {
  .register-wrapper {
    padding: 10px !important; // Mobile padding
    min-height: calc(100vh - 86px);
  }
}

@media (max-width: 445px) {
  .register-wrapper{
    .register-container{
      .steps {
        .step-2 {
          img {
            margin-right: 0px;
          }
        }
        .divider-1, .divider-2 {
          display: none !important;
        }
      }
    }
  }
}

.register-wrapper {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 106px);
  width: 100%;
  box-sizing: border-box;

  .register-container {
    position: relative;
    padding: 40px 30px 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 720px;
    height: fit-content;
    background-color: $rg-bg;
    overflow-y: auto;

    .steps {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 25px;

      .step-1 {

        .step-1-txt {
          color: $rg-step-completed;
        }

        img {
          filter: $rg-svg-step-completed
        }
      }

      .step-2 {

        .step-2-txt {
          color: $rg-step-completed;
        }

        img {
          filter: $rg-svg-step-completed
        }
      }

      .step-3 {

        .step-3-txt {
          margin-right: 10px;
          color: $rg-step-completed;
        }

        img {
          filter: $rg-svg-step-completed
        }
      }

      [class^="step-"] {
        display: flex;
        align-items: center;
        flex-shrink: 0;
      }

      img {
        width: 28px;
        height: 28px;
        margin-left: 10px;
        margin-right: 10px;
      }

      h4 {
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        color: $rg-step-missing;
      }

      .divider-1 {
        flex-grow: 1;
        height: 1px;
        background-color: $rg-step-completed;
        min-width: 20px;
        margin-left: 10px;
      }

      .divider-2 {
        flex-grow: 1;
        height: 1px;
        background-color: $rg-step-completed;
        min-width: 20px;
        margin-left: 10px;
      }
    }

    .register-header {
      width: 100%;
      text-align: left;

      .title {
        font-size: 24px;
        color: $rg-title;
        font-weight: 500;
        margin-bottom: 15px;
        text-align: left;
      }

      .subtitle {
        font-size: 14px;
        color: $rg-subtitle;
        font-weight: 300;
        margin-bottom: 25px;
        text-align: left;
      }
      img {
        position: absolute;
        top: 30px;
        right: 30px;

        width: 40px;
        height: 40px;
        border-radius: 100%;

        cursor: pointer;

        &:hover {
          background-color: darken($text-color, 90%);
        }
      }
    }
    .permissions-form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
    }

    .text-explanation{
      font-size: 14px;
      color: $text-color;
      font-weight: 300;
      margin-bottom: 25px;
    }

    .text-box {
      width: 660px;
      height: 200px;
      padding: 15px;
      overflow: auto;
      resize: none;
      border: none;
      border-radius: 12px;
      font-family: Arial, sans-serif;
      margin-bottom: 50px;

      background-color: $rg-bg-text-box;
      color: $rg-text;
    }

    button {
      width: 275px;
      padding: 18px 0;
      margin: auto 0;
      border-radius: 12px;
      border: none;
      font-size: 14px;
      font-weight: 600;
      color: $btn-text-color;
      background-color: $btn-color;
      cursor: pointer;

      &:hover {
        background-color: darken($btn-color, 5%);
      }
    }


  }
}
