@import "../../../../styles/variables.scss";

// Estilos específicos para os itens da lista de usuários que não estão no componente genérico
.list-item {
  color: $rg-text;
  font-size: 14px;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.situation {
  font-size: 11px;
  font-weight: 200;
  display: flex;
  align-items: center;
  user-select: none;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  transition: background-color 0.1s ease;
  cursor: pointer;

  img {
    width: 16px;
    height: 16px;
  }

  &:hover {
    background-color: $rg-bg-hover-extra;
  }
}
