<app-default-login-layout
  title="Forgot Password"
  subtitle="Enter your email to recover your password"
  btnText="Submit Code"
  txtLink="Login Here"

  (submit)="submit()"
  (navigate)="navigate()"
  >
  <form [formGroup]="forgotForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      placeholder="Enter your email"
      [isPassword]="false">
      <img src="assets/svg/icon/email.svg" alt>
    </app-primary-input>

  </form>
</app-default-login-layout>
