<div class="parent-container">
  <div class="checkbox-container">
    <input id="id_check_1" type="checkbox" name="nChack" value="br" />
    <label for="id_check_1">User 1</label>
  </div>
  <div class="checkbox-container">
    <input id="id_check_2" type="checkbox" name="nChack" value="br" />
    <label for="id_check_2">User 2</label>
  </div>
  <div class="checkbox-container">
    <input id="id_check_3" type="checkbox" name="nChack" value="br" />
    <label for="id_check_3">User 3</label>
  </div>
  <div class="checkbox-container">
    <input id="id_check_3" type="checkbox" name="nChack" value="br" />
    <label for="id_check_3">User 3</label>
  </div>
  <div class="checkbox-container">
    <input id="id_check_3" type="checkbox" name="nChack" value="br" />
    <label for="id_check_3">User 3</label>
  </div>
  <div class="checkbox-container">
    <input id="id_check_3" type="checkbox" name="nChack" value="br" />
    <label for="id_check_3">User 3</label>
  </div>
  <div class="checkbox-container">
    <input id="id_check_3" type="checkbox" name="nChack" value="br" />
    <label for="id_check_3">User 3</label>
  </div>
  <div class="checkbox-container">
    <input id="id_check_3" type="checkbox" name="nChack" value="br" />
    <label for="id_check_3">User 3</label>
  </div>
  <div class="checkbox-container">
    <input id="id_check_3" type="checkbox" name="nChack" value="br" />
    <label for="id_check_3">User 3</label>
  </div>
  <div class="checkbox-container">
    <input id="id_check_3" type="checkbox" name="nChack" value="br" />
    <label for="id_check_3">User 3</label>
  </div>
  <div class="checkbox-container">
    <input id="id_check_3" type="checkbox" name="nChack" value="br" />
    <label for="id_check_3">User 3</label>
  </div>
</div>
