@import "../../../../styles/variables.scss";

.home-wrapper {
  min-height: 100vh; // Garante que a div ocupe pelo menos a altura da tela
  padding: 30px 30px; // Define 30px de padding lateral
  display: flex;
  flex-direction: column;

}
